<div class="widget profile-inner">
    <div class="base-info profile-block">
      <img id="avatar" src="http://7xksvs.com1.z0.glb.clouddn.com/headimg_dl.jpg">
      <h2 id="name">Noah Gao</h2>
      <h3 id="title">Web &amp; Node.js Developer</h3>
      <span id="location"><i class="fa fa-map-marker"></i>Tianjin, China</span>
    </div>
    <div class="article-info profile-block">
      <div class="article-info-block">
        <%= site.posts.length %>
        <span>posts</span>
      </div>
      <div class="article-info-block">
        <%= site.tags.length %>
        <span>tags</span>
      </div>
    </div>
    <div class="contact-info profile-block">
      <table class="contact-list">
        <tr>
          <td><a href="http://github.com/noahziheng" target="_blank" title="github"><i class="fa fa-github"></i></a></td>
          <td><a href="https://twitter.com/noahziheng" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></td>
          <td><a href="https://www.facebook.com/profile.php?id=100007443646852" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></td>
          <td><a href="http://weibo.com/noah1719" target="_blank" title="新浪微博"><i class="icon-weibo"></i></a></td>
          <td><a href="/atom.xml" target="_blank" title="rss"><i class="fa fa-rss"></i></a></td>     
        </tr>
      </table>
    </div>
  </div>